<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Conference&nbsp;Registration</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center px-2">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">
                Dear Contributing Authors and Attendees,
            </p>
            <p class="lh-base">
                We would like to express our appreciation and congratulation for the distinguished works you had
                contributed to ICGEC-2023. Please follow the following instructions to accomplish the required
                procedures for conference registration.
            </p>
            <p class="lh-base">
                All attendees for ICGEC-2023 are kindly requested to register. Related forms and supporting documents
                must be received with payment in US$ (US Dollar) or NT$ (NT Dollar) no later than September 1, 2023.
                Please note that at least one author per paper must register. Otherwise, the paper will not be included
                in the ICGEC-2023 technical program and proceedings.
            </p>
            <p class="lh-base"></p>
            <ul>
                <li><a href="./assets/datas/ICGEC-2023-Registration_Form.doc">ICGEC-2023 Registration Form</a></li>
                <li><a href="./assets/datas/Instruction_for_Pay_by_Credit_Card.pdf">Instruction for Pay by Credit
                        Card</a></li>
            </ul>
            </p>
            <p class="lh-base">
                Please feel free to let us know if you have any problem regarding the conference registration.
                Thank you again for your contribution to ICGEC-2023.
            </p>
            <p class="lh-base">
                Sincerely,<br>
                Yun-Chi Huang,<br>
                Finance Chair of ICGEC-2022<br>
                <a href="mailto:icgec23@bit.nkust.edu.tw">icgec23@bit.nkust.edu.tw</a>, <a href="mailto:icgec23@gmail.com">icgec23@gmail.com</a><br>
                <a href="http://bit.nkust.edu.tw/~icgec23">http://bit.nkust.edu.tw/~icgec23</a>, <a href="https://icgec23.github.io">https://icgec23.github.io</a>

            </p>
        </section>
    </article>
</div>