<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Conference&nbsp;Registration</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">
                Dear Contributing Authors and Attendees,
            </p>
            <p class="lh-base">
                We would like to express our appreciation and congratulation for the distinguished works you had
                contributed to
                IIHMSP-2022. Please follow the following instructions to accomplish the required procedures for
                conference registration.
            </p>
            <p class="lh-base">
                All attendees for IIHMSP-2022 are kindly requested to register. Related forms and supporting documents
                must be received
                with payment in US$ (US Dollar) or NT$ (NT Dollar) no later than November 18, 2022. Please note that at
                least one author
                per paper must register before November 18, 2022. Otherwise the paper will not be included in the IIHMSP
                2022 technical
                program and proceedings.
            </p>
            <p class="lh-base"></p>
            <ul>
                <li><a href="./assets/datas/CR/IIHMSP-2022-Registration_Form.doc?20221112">IIHMSP-2022 Registration Form</a></li>
                <li><a href="./assets/datas/CR/Pay_by_Credit_Card_Instruction.pdf">Instruction for Pay by Credit
                        Card</a></li>
            </ul>
            </p>
            <p class="lh-base">
                Please feel free to let us know if you have any problem regarding the conference registration. Thank you
                again for your
                contribution to IIHMSP-2022.
            </p>
            <p class="lh-base">
                Sincerely,<br>
                Jui-Fang Chang,<br>
                Finance Chair of IIHMSP-2022<br>
                <a href="iihmsp22@bit.nkust.edu.tw">iihmsp22@bit.nkust.edu.tw</a><br>
                <a href="http://bit.nkust.edu.tw/~iihmsp22">http://bit.nkust.edu.tw/~iihmsp22</a>

            </p>
        </section>
    </article>
</div>
