<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Final&nbsp;Manuscript</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">
                Dear Contributing Authors,
            </p>
            <p class="lh-base">
                We would like to express our sincere congratulation and gratitude to you for your distinguished works contributed to IIHMSP-2022.<br>
                Please kindly follow the following procedure to accomplish your Final Manuscript and the Publish Agreement by November 18, 2022.
            </p>
            <p class="lh-base">
                Step 1<br>
                Please format your paper using Springer’s templates to generate your final manuscripts, named as IIHMSP-2022-xxxx.pdf or IIHMSP-2022-ISxx-xx.pdf according to your assigned paper ID. The paper length is limited to 10 pages.<br>
                LaTeX: <a href="./assets/datas/llncs2e.zip">llncs2e.zip</a>, <a href="./assets/datas/typeinst.zip">typeinst.zip</a><br>
                MS-Word: <a href="./assets/datas/splnproc1110.zip">splnproc1110.zip</a></li>
            </p>
            <p class="lh-base">
                Step 2<br>
                Have a subdirectory, named source, for your source file(s), such as .doc/.docx or .tex and all related files for the compiling of the final manuscript.
            </p>
            <p class="lh-base">
                Step 3<br>
                Please fill in fields in grey, sign and scan the <a href="./assets/datas/IIHMSP-2022-PA.docx">Publish Agreement</a> into IIHMSP-2022-xxxx-PA.pdf or IIHMSP-2022-ISxx-xx-PA.pdf.
            </p>
            <p class="lh-base">
                Step 4<br>
                Compress the above materials into a single zip file, named IIHMSP-2022-xxxx.zip or IIHMSP-2022-ISxx-xx.zip.
            </p>
            <p class="lh-base">
                Step 5<br>
                Please email the zip file to <a href="mailto:iihmsp22@bit.nkust.edu.tw">iihmsp22@bit.nkust.edu.tw</a> with your paper ID as subject.
            </p>
            <p class="lh-base">
                Thank you for your kind cooperation and great support to IIHMSP-2022.<br>
                Please feel free to let us know for any further issue.
            </p>
            <p class="lh-base">
                Sincerely,<br>
                IIHMSP-2022 Secretariat<br>
                http://bit.nkust.edu.tw/~iihmsp22<br>
                Email: iihmsp22@bit.nkust.edu.tw<br>
            </p>

        </section>
    </article>
</div>