<!--
    本頁列出特邀議程
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Invited&nbsp;Sessions</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center fs-6">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p class="lh-lg">
                Dear Prospective Organizers,
            </p>
            <p class="lh-base">
                Thank you for considering this Call for Invited Sessions from ICGEC-2023.
                ICGEC-2023 has the highest respect for organizers of Invited Sessions.
                An organizer for an Invited Session will have complete and independent control and judgment in reviewing
                and selecting submitted papers.
                Papers intended for an Invited Session should be submitted to its organizer directly and bypass the
                regular reviewing process for General Session.<br>
                If we have the honor of having your participation,
                please prepare a <a href="./assets/datas/ICGEC-2023-IS-CFP-template.docx">CFP</a> for your Invited
                Session and return it to us (<a href="mailto:icgec23@gmail.com">icgec23@gmail.com</a>, <a href="mailto:icgec23@bit.nkust.edu.tw">icgec23@bit.nkust.edu.tw</a>).
                Our staff shall post it on the conference website.
            </p>
            <p class="lh-lg">
                We thank you and look forward to seeing you during ICGEC-2023.
            </p>
            <p class="lh-lg">
                Sincerely,<br>
                Jimmy Ming-Tai Wu, Shih-Pang Tseng, Yendeng Huang and Fuquan Zhang<br />
                Invited Session Chairs<br />
            </p>
        </section>
    </article>
    <article class="row justify-content-center fs-6">
        <div class="p-2 col-12 col-xxl-10">
            <hr class="m-0" />
        </div>
        <div class="p-2 col-12 col-xxl-10">
            <table class="w-100">
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">ICGEC-2023-IS01</td>
                    <td>
                        <div>
                            <i><a href="./assets/datas/IS/ICGEC-2023-IS01-CFP.pdf" target="_blank">
                                    Invited Session on Artificial Intelligence of Things (AIoT)
                            </a></i>
                        </div>
                        <div>Prof. Tien-Wen Sung and Prof. Liang-Cheng Shiu</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">ICGEC-2023-IS02</td>
                    <td>
                        <div>
                            <i><a href="./assets/datas/IS/ICGEC-2023-IS02-CFP.pdf" target="_blank">
                                Invited Session on Metaheuristic Algorithms with Applications
                            </a></i>
                        </div>
                        <div>Prof. Shu-Chuan Chu, Dr. Pei Hu</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">ICGEC-2023-IS03</td>
                    <td>
                        <div>
                            <i><a href="./assets/datas/IS/ICGEC-2023-IS03-CFP.pdf" target="_blank">
                                Invited Session on Intelligence Computing and Big Data Applications
                            </a></i>
                        </div>
                        <div>Prof. Fuquan Zhang</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">ICGEC-2023-IS04</td>
                    <td>
                        <div>
                            <i><a href="./assets/datas/IS/ICGEC-2023-IS04-CFP.pdf" target="_blank">
                                Invited Session on Drone Applications based on Deep Learning
                            </a></i>
                        </div>
                        <div>Prof. Chao-Yang Lee</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">ICGEC-2023-IS05</td>
                    <td>
                        <div>
                            <i><a href="./assets/datas/IS/ICGEC-2023-IS05-CFP.pdf" target="_blank">
                                Invited Session on Finance Technologies
                            </a></i>
                        </div>
                        <div>Dr. Jean Lai</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">ICGEC-2023-IS06</td>
                    <td>
                        <div>
                            <i><a href="./assets/datas/IS/ICGEC-2023-IS06-CFP.pdf" target="_blank">
                                Invited Session on Data-driven behavior analytics of wearable devices and sensors
                            </a></i>
                        </div>
                        <div>Prof. Chun-Wei Lin, Prof. Ilona Heldal</div>
                    </td>
                </tr>
            </table>
        </div>
    </article>
</div>
<div>
</div>