<!--
    本頁列出特邀議程
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Invited&nbsp;Sessions</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center fs-6">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p class="lh-lg">
                Dear Prospective Organizer(s),
            </p>
            <p class="lh-base">
                Thank you for your time in considering this Call for Invited Session from IIMHSP-2022.
                IIHMSP-2022 has the highest respect for organizers of Invited Sessions.<br />
                An organizer for an Invited Session will have total and independent control and judgment in reviewing
                and selecting submitted papers.
                Papers intended for an Invited Session should be submitted to its organizer directly and bypass the
                regular reviewing process for General Session.
            </p>
            <p class="lh-base">
                If we have the honor of having your participation, please prepare a <a
                    href="./assets/datas/IIHMSP-2022-ISxx-CFP-template.docx">CFP</a> for your Invited Session and return
                it to us. Our staff shall post it on the conference website.
            </p>
            <p class="lh-lg">
                We thank you and look ward to seeing you during IIHMSP-2022.
            </p>
            <p class="lh-lg">
                Sincerely,
            <div>
                Ming-Fong Tsai, Tarek Gaber and Chin-Feng Lee<br />
                Invited Session Chairs<br />
                Email: <a href="mailto:mftsai@nuu.edu.tw">mftsai@nuu.edu.tw</a> , <a
                    href="mailto:tmgaber@gmail.com">tmgaber@gmail.com</a> , <a
                    href="mailto:lcf@cyut.edu.tw">lcf@cyut.edu.tw</a><br />
                Website: <a href="./">http://bit.nkust.edu.tw/~iihmsp22</a><br />
            </div>
            </p>
        </section>
    </article>
    <article class="row justify-content-center fs-6">
        <div class="p-2 col-12 col-xxl-10">
            <hr class="m-0" />
        </div>
        <div class="p-2 col-12 col-xxl-10">
            <table class="w-100">
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">IIHMSP-2022-IS01</td>
                    <td>
                        <div><i><a href="./assets/datas/IS/IIHMSP-2022-IS01-CFP.pdf" target="_blank">Invited Session on
                                    Metaheuristic Algorithms with Applications</a></i></div>
                        <div>Prof. Shu-Chuan Chu, Dr. Pei Hu</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">IIHMSP-2022-IS02</td>
                    <td>
                        <div><i><a href="./assets/datas/IS/IIHMSP-2022-IS02-CFP.pdf" target="_blank">Invited Session on
                                    Advanced Computer Vision
                                    and<br>Image Processing Technologies in Industrial Applications</a></i></div>
                        <div>Prof. Huanyu Liu, Dr. Ran Wu</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">IIHMSP-2022-IS03</td>
                    <td>
                        <div><i><a href="./assets/datas/IS/IIHMSP-2022-IS03-CFP.pdf" target="_blank">Invited Session on
                                    Emerging Techniques and <br>Its Applications in Intelligent Information
                                    Applications</a></i></div>
                        <div>Prof. Tsu-Yang Wu, Prof. Chien-Ming Chen</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">IIHMSP-2022-IS04</td>
                    <td>
                        <div><i><a href="./assets/datas/IS/IIHMSP-2022-IS04-CFP.pdf" target="_blank">Invited Session on Data Analysis and Applications for Smart Living</a></i></div>
                        <div>Prof. Mong-Fong Horng</div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">IIHMSP-2022-IS05</td>
                    <td>
                        <div><i><a href="./assets/datas/IS/IIHMSP-2022-IS05-CFP.pdf" target="_blank">Invited Session on
                            Information Technology and Data Science for the Humanity</a></i></div>
                        <div>Prof. Akinori Ito</div>
                    </td>
                </tr>
            </table>
        </div>
    </article>
</div>
<div>
</div>