<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">NEWS</h1>
</header>

<div class="container ps-3 pe-3">
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-07-03 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS10: Hybrid Computing and Applications</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-06-14 ]</strong>
            <strong class="flex-fill">Important Date Updated</strong>
        </header>
        <article class="ps-5">
            <p>The due date for Paper submission had been extended to July 15, 2023.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-06-13 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS09: Digital Transformation Technologies and Artificial Computing in Life Science: Exploring the Next Frontier.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-05-01 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS08: Modern Digital Operation Management and Application for Computation and Information Technology.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-04-28 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS07: Computing for Smart Living and Learning.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-04-01 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS06: Data-driven behavior analytics of wearable devices and sensors.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-03-24 ]</strong>
            <strong class="flex-fill">KeynoteSpeech Updated</strong>
        </header>
        <article class="ps-5">
            <p>The Keynote Speech has been Updated.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-03-16 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS05: Finance Technologies.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-02-20 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS04: Drone Applications based on Deep Learning.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-02-15 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS03: Intelligence Computing and Big Data Applications.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-02-15 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS02: Metaheuristic Algorithms with Applications.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-02-14 ]</strong>
            <strong class="flex-fill">Invited Session Updated</strong>
        </header>
        <article class="ps-5">
            <p>ICGEC-2023-IS01: Artificial Intelligence of Things (AIoT).</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-02-14 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>The website has been launched.</p>
        </article>
    </div>
    <hr class="m-0" />

</div>