<!--
    本頁用於列出賣老臉的人
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Organizing&nbsp;Committee</h1>
</header>
<div class="pe-3 ps-3 container">
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Honorary Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Vaclav Snasel, Technical University of Ostrava, Czech Republic</li>
                <li>Jeng-Shyang Pan, Shandong University of Science and Technology, China</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white">Advisory Committee Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Tien-Chin Wang, National Kaohsiung University of Science and Technology, Taiwan</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Conference Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Jerry Chun-Wei Lin, Western Norway University of Applied Sciences, Norway</li>
                <li>Mong-Fong Horng, National Kaohsiung University of Science and Technology, Taiwan</li>
                <li>Zhi Geng Pan, Nanjing University of Information Science and Technology</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white">Program Committee Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Chin-Shiuh Shieh, National Kaohsiung University of Science and Technology, Taiwan</li>
                <li>Shu-Chuan Chu, Shandong University of Science and Technology, China</li>
                <li>Rajesh K Shukla, Oriental Institute of Science and Technology, India</li>
                <li>Gautam Srivastava, Brandon University, Canada</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Invited Session Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Jimmy Ming-Tai Wu, National Kaohsiung University of Science and Technology, Taiwan</li>
                <li>Shih-Pang Tseng, Changzhou College of Information Technology, China</li>
                <li>Yendeng Huang, Changzhou College of Information Technology, China</li>
                <li>Fuquan Zhang, Minjiang University, China</li>
                <li>Jia Zhao, Nanchang Institute of Technology, China</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white">Local Organizing Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Shi-Huang Chen, Shu-Te University, Taiwan</li>
                <li>Tien-Szu Pan, National Kaohsiung University of Science and Technology, Taiwan</li>
                <li>Chien-Liang Chiu, National Kaohsiung University of Science and Technology, Taiwan</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Publication Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Tien-Wen Sung, Fujian University of Technology, China</li>
                <li>Pei Hu, Shandong University of Science and Technology, China</li>
            </ul>
        </section>
    </article>

    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white">Finance Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Yun-Chi Huang, Taiwan Ubiquitous Information CO., LTD</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Program Committee Members</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Stefania Tomasiello, University of Tartu Estonia, Estonia</li>
                <li>Vo Bay, Ho Chi Minh City University of Technology, Vietnam</li>
                <li>Youcef Djenouri, University of South-Eastern Norway, Norway</li>
                <li>Jaroslav Frnda University of Zilina, Slovakia</li>
                <li>Vicente Garcia Diaz University of Oviedo, Spain</li>
                <li>Dariusz Mrozek, Silesian University of Technology, Poland</li>
                <li>Marcin Fojcik, Western Norway University of Applied Sciences, Norway</li>
                <li>Jia-Chun Lin, Norwegian University of Science and Technology, Norway</li>
                <li>Ming Chang Lee, Western Norway University of Applied Sciences, Norway</li>
                <li>Ji Zhang, University of Southern Queensland, Australia</li>
                <li>Keping Yu, Hosei University, Japan</li>
                <li>Muhammad Aleem, National University of Computer and Emerging Sciences, Pakistan</li>
                <li>Ko-Wei Huang, National Kaohsiung University of Science and Technology, Taiwan</li>
                <li>Brij B. Gupta, Asia University, Taiwan</li>
                <li>Ala Al-Fuqaha, Hamad Bin Khalifa University, Qatar</li>
                <li>Basant Kumar Verma, Panipat Institute of Engineering and Technology, India</li>
                <li>Muhammad Baqer Mollah, University of Massachusetts Dartmouth, USA</li>
                <li>Lawton Liao, Intelligent Cloud Plus Co., Ltd., Taiwan</li>
                <li>Zakia Hammouch, Moulay Ismail University, Morocco</li>
                <li>Denis Miu, Genie-Networks Co., Ltd., Taiwan</li>
                <li>Sarfraz Hussain, Government Postgraduate College of Commerce, Sahiwal, Pakistan</li>
                <li>Tarek Gaber, University of Salford, Manchester, UK</li>
                <li>Dhrubajyoti Das, Patanjali Research Institute, Haridwar, India</li>
                <li>Pei-Wei Tsai, Swinburne University of Technology, Australia</li>
                <li>Valentina Emilia Balas, Aurel Vlaicu University of Arad, Romania</li>
                <li>Ying-Chieh Chao, ICP DAS Co., Ltd., Taiwan</li>
                <li>Yuh-Chung Lin, Sanda University, Shanghai, China</li>
                <li>Abhishek Kumar, Chandigarh University, Punjab, India</li>
                <li>Tin-Yu Wu, National Pingtung University of Science and Technology, Taiwan</li>
                <li>Zubair Hussain, Riphah International University, Pakistan</li>
                <li>Shashi Kant Gupta, Chinmay Research, Education and Publication Pvt. Ltd., India</li>
                <li>Satendra Kumar, Moradabad Institute of Technology, India</li>
                <li>Muthmainnah, Universitas Al Asyariah Mandar, Sulawesi Barat, Indonesia</li>
                <li>Thanh-Tuan Nguyen, Nha Trang University, Vietnam</li>
                <li>Shaowei Weng, Fujian University of Technology, China</li>
                <li>Lingping Kong, Technical University of Ostrava, Czech Republic</li>
                <li>Junbao Li, Harbin Institute of Technology, China</li>
                <li>Ling Wang, Northeast Electric Power University, China</li>
                <li>Hao Luo, Zhejiang University, China</li>
                <li>Zhenyu Meng, Fujian University of Technology, China</li>
                <li>Wei Li, Harbin Engineering University, China</li>
                <li>Jianpo Li, Northeast Electric Power University, China</li>
                <li>Xin Wang, Harbin Institute of Technology, China</li>
                <li>Trong-The Nguyen, Vietnam National University, Vietnam</li>
                <li>Yulong Qiao, Harbin Engineering University, China</li>
                <li>Kuo-Kun Tseng, Harbin Institute of Technology, Shenzhen Campus, China</li>
                <li>Mr. Veerpratap Meena, Malaviya National Institute of Technology, India</li>
            </ul>
        </section>
    </article>
</div>