<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Paper&nbsp;Submission</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center fs-6">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p class="lh-base">
                The conferences proceedings will be published in the book series of Lecture Notes in Electrical Engineering by Springer. Normally, papers in this series are indexed by EI and Scopus. 
                If a paper is not presented in the conference, the paper will be excluded from the conference proceedings.
            </p>
            <p class="lh-base">
                Please follow the following templates of Springer book series in the preparation of your manuscripts. 
                The paper length is 10 to 12 pages.
                <li>LaTeX: <a href="./assets/datas/LaTex_Package.zip">LaTex_Package.zip</a></li>
                <li>Microsoft Word: <a href="./assets/datas/Word_Template.zip">Word_Template.zip</a></li>
            </p>
            <p class="lh-base">
                Please email your manuscript to <a href="mailto:icgec23@bit.nkust.edu.tw">icgec23@bit.nkust.edu.tw</a> or <a href="mailto:icgec23@gmail.com">icgec23@gmail.com</a> with detailed contact information for the corresponding author provided, 
                including name, affiliation, email, phone number and messenger, such as WeChat, LINE, WhatsApp, Facebook Messenger.
            </p>
        </section>
    </article>
</div>