<!--
    本頁列出寫作資訊
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Paper&nbsp;Template</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3"/>
    <article class="row justify-content-center">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">
                Please follow the templates of Springer book series in the preparation of your manuscripts, as follows:
            </p>
            <ul>
                <li>LaTeX: <a href="./assets/datas/llncs2e.zip">llncs2e.zip</a>, <a href="./assets/datas/typeinst.zip">typeinst.zip</a></li>
                <li>MS-Word: <a href="./assets/datas/Word_Template.zip">Word_Template.zip</a></li>
            </ul>
            <p class="lh-base">
                The paper length is 10 pages. <!--for the regular papers. Each paper is allowed to have a maximum of two extra pages with an additional charge of US$ 100 per extra page.-->
            </p>
        </section>
    </article>
</div>
