<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Recommended&nbsp;Accommodation</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center px-2">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">
                Dear Participants,
            </p>
            <p class="lh-base">
                Han-Hsien International Hotel is recommended for your stay in Kaohsiung.<br>
                Address: No. 33, Sihwei 3rd Road, Kaohsiung, 802, Taiwan (R.O.C.)<br>
                URL: <a href="http://www.han-hsien.com.tw/hhih/en" target="_blank">http://www.han-hsien.com.tw/hhih/en</a>
            </p>
            <p class="lh-base">
                Please claim your participation in ICGEC-2023 while making the reservation.<br>
                Or email <a href="mailto:icgec23@gmail.com">icgec23@gmail.com</a> and let the secretariat conduct the booking for you.<br>
                Thank you!
            </p>
            <p class="lh-base">
                Chinese name and address of the hotel:<br>
                寒軒國際大飯店<br>
                802 高雄市苓雅區四維三路33號
            </p>
        </section>
    </article>
</div>