<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Visa&nbsp;Application</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center px-2">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">ICGEC-2023申请大陆地区人民来台入出境许可证申请注意事项</p>
            <p class="lh-base">请填写随附文件2件，扫描后回传官方信箱。</p>
            <ol>
                <p>
                    <li><a href="./assets/datas/中華民國臺灣地區入出境申請書.pdf" target="_blank">大陆地区人民进入台湾地区申请书</a></li>
                </p>
                <p>
                    <ul>
                        <li>资料请以正(繁)体字填写，[ <font color="red">*</font> ]為必填欄位。</li>
                    </ul>
                </p>
                <p>
                    <ul>
                        <li>英文姓名需与护照或大陆居民往来台湾通行证之英文姓名相同。</li>
                    </ul>
                </p>
                <p>
                    <ul>
                        <li>个人照片请附上6个月内两吋白色为底的彩色图片电子 (最近6个月内所拍摄之彩色、脱帽未带有色眼镜，五官清晰、不遮盖，相片不修改，足资辨识人貌，图档需裁切多余空白处，脸部占整张图档约为三分之二面积，白色背景之正面半身照片，且不得使用合成照片。)</li>
                    </ul>
                </p>
                <p>
                    <ul>
                        <li>请扫描大陆地区居民身分证正、反两面。</li>
                    </ul>
                </p>
                <p>
                    <li>专业活动行程表</li>
                </p>
            </ol>
            <br>
            <p>
                请仔细确认以下文件均已备妥，并把这些文件打包成一个压缩文件，档名为“<font color="#e36c0a">ICGEC-2023-OOO</font>”，其中OOO为教授之姓名。
            </p>
            <p>
                <ul>
                    <li>「<font color="#e36c0a">大陆地区人民进入台湾地区申请书</font>」电子文件乙份。</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>「<font color="#e36c0a">专业活动行程表</font>」电子文件乙份。</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>「<font color="#e36c0a">大陆地区居民身分证正、反两面</font>」彩色扫描文件乙份。</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>申请人服务单位的「<font color="#e36c0a">职务证明</font>」正本彩色扫描文件乙份。三个月内开立之职务证明文件。</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>身分为学生者(博、硕士研究生)，请附上「<font color="#e36c0a">在读证明</font>」及「<font color="#e36c0a">学生证明</font>」彩色扫描文件乙份。三个月内开立之在读证明文件。</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>大会发出的「<font color="#e36c0a">Acceptance Letter(Invitation Letter)</font>」电子文件乙份。</li>
                </ul>
            </p>
            <br>
            <p>单次出入境许可证申请费每一个人为新台币600元整，请于会议报到时至大会服务柜台缴纳。</p>
            <p>如有任何疑问烦请来信询问，谢谢您参加ICGEC-2023。</p>
        </section>
    </article>
</div>